// Importin'
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import "~bootstrap";

body {
  background-color: $gray-100;
  margin-top: 64px;
}

// Sidebar & Content
.ds-sidebar {
  position: fixed;
  top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  padding-bottom: 2rem;
  border-right: 1px solid $gray-300;
  background-color: $white;
  min-width: 224px;
}

.ds-sidebar-header {
  font-weight: 700;
  font-size: 0.75rem;
  color: $primary;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  padding: 1.5rem 1.5rem 0.5rem;
}

.ds-sidebar .navbar-nav .nav-link {
  border: none;
  font-size: 0.9375rem;
  letter-spacing: -0.1px;
  line-height: 1.25rem;
  font-weight: 600;
  color: $gray-800;
  border-left: 4px solid #fff;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
}

.ds-sidebar .navbar-nav .nav-link.active,
.ds-sidebar .navbar-nav .nav-link:hover {
  background-color: #FFFCF3;
  border-left: 4px solid #FFD24C;
  color: $black;
}

.ds-sidebar svg {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.ds-content {
  margin-left: 224px; // Should max the width of ds-sidebar
}

@media (max-width: 991px) {
  .ds-sidebar {
    display: none;
  }
  
  .ds-content {
    margin-left: 0;
  }
}