// Highbeam Design System Custom Variables
// Last Update 2020-09-XX

// Highbeam Custom Font Size CSS Classes (#notbootstrap)
.font-size-1200 { font-size: 4rem !important; }      // 56px
.font-size-1100 { font-size: 3rem !important; }      // 48px
.font-size-1000 { font-size: 2.5rem !important; }    // 40px
.font-size-900  { font-size: 2rem !important; }      // 32px
.font-size-800  { font-size: 1.75rem !important; }   // 28px
.font-size-700  { font-size: 1.5rem !important; }    // 24px
.font-size-600  { font-size: 1.25rem !important; }   // 20px
.font-size-500  { font-size: 1rem !important; }      // 16px
.font-size-400  { font-size: 0.9375rem !important; } // 15px
.font-size-300  { font-size: 0.875rem !important; }  // 14px
.font-size-200  { font-size: 0.8125rem !important; } // 13px
.font-size-100  { font-size: 0.75rem !important; }   // 12px
.font-size-000  { font-size: 0.625rem !important; }  // 10px

// Highbeam Custom Font Size SCSS Variables (#notbootstrap)
$font-size-1200: 4rem !default;      // 56px
$font-size-1100: 3rem !default;      // 48px
$font-size-1000: 2.5rem !default;    // 40px
$font-size-900:  2rem !default;      // 32px
$font-size-800:  1.75rem !default;   // 28px
$font-size-700:  1.5rem !default;    // 24px
$font-size-600:  1.25rem !default;   // 20px
$font-size-500:  1rem !default;      // 16px
$font-size-400:  0.9375rem !default; // 15px
$font-size-300:  0.875rem !default;  // 14px
$font-size-200:  0.8125rem !default; // 13px
$font-size-100:  0.75rem !default;   // 12px
$font-size-000:  0.625rem !default;  // 10px

// Font Weight Utilities
.font-weight-100 { font-weight: 100 !important; }
.font-weight-200 { font-weight: 200 !important; }
.font-weight-300 { font-weight: 300 !important; }
.font-weight-400 { font-weight: 400 !important; }
.font-weight-500 { font-weight: 500 !important; }
.font-weight-600 { font-weight: 600 !important; }
.font-weight-700 { font-weight: 700 !important; }
.font-weight-800 { font-weight: 800 !important; }
.font-weight-900 { font-weight: 900 !important; }

// Updating Base Colors (I don't believe in false grays.)
$white:    #fff !default;
$gray-100: #fafafa !default;
$gray-200: #eeeeee !default;
$gray-300: #dddddd !default;
$gray-400: #cccccc !default;
$gray-500: #999999 !default;
$gray-600: #555555 !default;
$gray-700: #444444 !default;
$gray-800: #333333 !default;
$gray-900: #121212 !default;
$black:    #000 !default;

/* ---------- Site Specific Variables Updates --------- */
// Colors
$blue:      #0775ED !default;
$indigo:    #6610F2 !default;
$purple:    #6F42C1 !default;
$pink:      #E64790 !default;
$red:       #E74138 !default;
$orange:    #FC9332 !default;
$yellow:    #FFD766 !default;
$green:     #17BE64 !default;
$teal:      #10E1A3 !default;
$cyan:      #43BCFF !default;

$primary:   $blue !default;
$secondary: $gray-500 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$highlight: $yellow !default;
$tip:       $teal !default;
$danger:    $red !default;
$light:     $gray-100 !default;
$dark:      $gray-800 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "highlight":  $highlight,
  "tip":        $tip,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$min-contrast-ratio:   2 !default;

// Options
$enable-rfs:                  false !default;
$enable-negative-margins:     true !default;

// Gradient
// Spacing
// 8pt Spacers Extended
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
0: 0,
1: ($spacer * .25),  2: ($spacer * .5),  3: ($spacer * 1),    4: ($spacer * 1.5),  5: ($spacer * 2),
6: ($spacer * 3),    7: ($spacer * 4),   8: ($spacer * 5),    9: ($spacer * 6),   10: ($spacer * 8)
), $spacers);

// Body
$body-bg:                   $gray-100 !default;

// Links
$link-color:        $primary !default;
$link-hover-color:  darken($link-color, 15%) !default;
$link-decoration:   none !default;

// Paragraphs
// Grid breakpoints
$grid-breakpoints:      (xs: 0, sm: 512px, md: 768px, lg: 1024px, xl: 1280px, xxl: 1536px) !default;

// Grid containers
$container-max-widths:  (sm: 480px, md: 736px, lg: 992px, xl: 1200px, xxl: 1440px) !default;

// Grid columns
$grid-gutter-width:     2rem !default;

// Container padding
// Components
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               0.5rem !default;
$border-radius-sm:            0.375rem !default;
$border-radius-lg:            0.75rem !default;

$box-shadow:                  0 .0 1rem rgba($black, .16) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .08) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .16) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Typography
$font-family-sans-serif:      'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       'Fira Code','IBM Plex Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$headings-font-weight:        700;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 0.75 !default;
$h6-font-size:                $font-size-base * 0.6875 !default;

$display-font-sizes: (
  1: 4rem,
  2: 3rem,
  3: 2.75rem,
  4: 2.5rem,
  5: 2.25rem,
  6: 2rem
) !default;

$display-font-weight:         600;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            normal !default;

$text-muted:                  $gray-500 !default;

$hr-color:                    $gray-200 !default;
$hr-opacity:                  1 !default;

// Tables
$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .75rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .5rem !default;

$table-hover-bg:              $light !default;

// Buttons + Forms
$input-btn-padding-y:             0.375rem !default;
$input-btn-padding-x:             0.75rem !default;
$input-btn-font-family:           $font-family-monospace !default;
$input-btn-font-size:             0.8125rem !default;
$input-btn-line-height:           1.4 !default;

$input-btn-focus-width:           .2rem !default;
$input-btn-focus-color-opacity:   .16 !default;
$input-btn-focus-color:           rgba($yellow, $input-btn-focus-color-opacity) !default;
$input-btn-focus-box-shadow:      0 0 1rem rgba($yellow, 0.24) !default;

$input-btn-padding-y-sm:          0.25rem !default;
$input-btn-padding-x-sm:          0.5rem !default;
$input-btn-font-size-sm:          0.75rem !default;

$input-btn-padding-y-lg:          0.5rem !default;
$input-btn-padding-x-lg:          1rem !default;
$input-btn-font-size-lg:          0.9375rem !default;

$input-btn-border-width:          $border-width !default;

// Buttons
$btn-font-weight:                 600 !default;

// Forms
$form-text-margin-top:                  .5rem !default;
$form-text-font-size:                   .8125rem !default;
$form-text-font-style:                  null !default;
$form-text-font-weight:                 null !default;
$form-text-color:                       $gray-500 !default;

$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  .875rem !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                700 !default;
$form-label-color:                      null !default;

$input-padding-y:                       .5rem !default;
$input-padding-x:                       1rem !default;

$input-font-size:                       0.875rem !default;
$input-line-height:                     1.5 !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    .75rem !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;

$input-bg:                              $gray-100 !default;
$input-disabled-bg:                     $gray-300 !default;
$input-disabled-border-color:           $gray-400 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-lg:                $border-radius !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $yellow !default;
$input-focus-color:                     $black !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$form-check-input-width:                1em !default;
$form-check-padding-left:               $form-check-input-width + .5em !default;
$form-check-margin-bottom:              .25rem !default;
$form-check-label-cursor:               pointer !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $white !default;

$input-height:                          2.5rem !default;
$input-height-sm:                       2rem !default;
$input-height-lg:                       3rem !default;

$form-range-thumb-width:                   1.25rem !default;
$form-range-thumb-height:                  $form-range-thumb-width !default;
$form-range-thumb-bg:                      $white !default;
$form-range-thumb-border:                  1px solid #CCCCCC !default;
$form-range-thumb-border-radius:           1rem !default;
$form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .5) !default;
$form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
$form-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in Edge
$form-range-thumb-active-bg:               lighten($component-active-bg, 35%) !default;
$form-range-thumb-disabled-bg:             $gray-500 !default;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Navs
// Navbar
$navbar-dark-color:                 $gray-800;
$navbar-dark-hover-color:           $link-color;
$navbar-dark-active-color:          $link-color;
$navbar-dark-disabled-color:        rgba($gray-800, .3);
$navbar-dark-toggler-border-color:  transparent;

// Dropdowns
// Pagination
$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .75rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1rem !default;

$pagination-hover-color:            $link-color !default;
$pagination-hover-bg:               #ebf7fe !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           $link-color !default;
$pagination-active-bg:              #ebf7fe !default;
$pagination-active-border-color:    $gray-300 !default;

$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;

// Cards
$card-spacer-y:                     1.5rem !default;
$card-spacer-x:                     1.5rem !default;

// Tooltips
// Popovers
// Toasts
$toast-max-width:                   384px !default;
$toast-padding-x:                   1rem !default;
$toast-padding-y:                   .25rem !default;
$toast-font-size:                   .875rem !default;
$toast-color:                       null !default;
$toast-background-color:            $white !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius:               $border-radius !default;

$toast-header-background-color:     $gray-100 !default;
$toast-header-border-color:         $gray-300 !default;

// Badges
$badge-font-weight:                 600 !default;
$badge-padding-y:                   2px !default;
$badge-padding-x:                   .5rem !default;
$badge-border-radius:               2rem !default;

// Modals
// Alerts
$alert-padding-y:                   0.5rem !default;
$alert-padding-x:                   1rem !default;
$alert-link-font-weight:            600 !default;

// Progress Bars
$progress-height:                   0.5rem !default;

// List Group
$list-group-item-padding-y:         0.75rem !default;
$list-group-item-padding-x:         $spacer !default;
$list-group-disabled-color:         $gray-400 !default;

$list-group-hover-bg:               $gray-100 !default;
$list-group-active-color:           $black !default;
$list-group-active-bg:              #FFFCF3 !default;
$list-group-active-border-color:    rgba($black, .125) !default;

$list-group-action-color:           $black !default;
$list-group-action-hover-color:     $list-group-action-color !default;

// Image Thumbnails
// Figures
// Breadcrumbs
$breadcrumb-font-size:              0.75rem !default;
$breadcrumb-padding-y:              $spacer / 2 !default;
$breadcrumb-padding-x:              $spacer !default;
$breadcrumb-item-padding-x:         .5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-500 !default;
$breadcrumb-divider:                quote("/") !default;

// Carousel
// Spinners
// Close
// Code
$code-color:                        darken($info, 16%) !default;
