/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 544px, md: 736px, lg: 960px, xl: 1168px, xxl: 1280px) !default;
$grid-breakpoints:      (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px) !default;

// 8pt Spacers Extended
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
0: 0,
1: ($spacer * .25),  2: ($spacer * .5),  3: ($spacer * 1),    4: ($spacer * 1.5),
5: ($spacer * 2),    6: ($spacer * 3),   7: ($spacer * 4),    8: ($spacer * 5),
9: ($spacer * 6),   10: ($spacer * 8),  11: ($spacer * 12),  12: ($spacer * 16)
), $spacers);

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #fafafa !default;
$gray-200: #eeeeee !default;
$gray-300: #dddddd !default;
$gray-400: #cccccc !default;
$gray-500: #999999 !default;
$gray-600: #555555 !default;
$gray-700: #444444 !default;
$gray-800: #333333 !default;
$gray-900: #121212 !default;
$black:    #000 !default;

/* ---------- Site Specific Variables Updates --------- */
// Colors
$blue:      #0775ED !default;
$indigo:    #6610F2 !default;
$purple:    #6F42C1 !default;
$pink:      #E64790 !default;
$red:       #E74138 !default;
$orange:    #FC9332 !default;
$yellow:    #FFD766 !default;
$green:     #17BE64 !default;
$teal:      #10E1A3 !default;
$cyan:      #43BCFF !default;

$primary:   $blue !default;
$secondary: $gray-500 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$highlight: $yellow !default;
$tip:       $teal !default;
$danger:    $red !default;
$light:     $gray-100 !default;
$dark:      $gray-800 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "highlight":  $highlight,
  "tip":        $tip,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

// Options
// Gradient
// Spacing
// Body
$body-bg:                   $gray-100 !default;

// Links
$link-color:        $primary !default;
$link-hover-color:  darken($link-color, 15%) !default;
$link-decoration:   none !default;

// Paragraphs
// Grid breakpoints
// Grid containers
// Grid columns
// Container padding
// Components
$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               0.5rem !default;
$border-radius-sm:            0.25rem !default;
$border-radius-lg:            0.75rem !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Typography
$font-family-sans-serif:      'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       Menlo, SFMono-Regular, 'IBM Plex Mono', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$display-font-weight:         500;
$headings-font-weight:        700;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 0.75 !default;
$h6-font-size:                $font-size-base * 0.6875 !default;

$hr-color:                    $gray-200 !default;
$hr-opacity:                  1 !default;

// Tables
$table-hover-bg:              $light !default;

// Buttons + Forms
$input-btn-padding-y:             0.375rem !default;
$input-btn-padding-x:             0.75rem !default;
$input-btn-font-family:           'IBM Plex Mono' !default;
$input-btn-font-size:             0.8125rem !default;
$input-btn-line-height:           1.4 !default;

$input-btn-padding-y-sm:          0.25rem !default;
$input-btn-padding-x-sm:          0.5rem !default;
$input-btn-font-size-sm:          0.6875rem !default;

$input-btn-padding-y-lg:          0.5rem !default;
$input-btn-padding-x-lg:          1rem !default;
$input-btn-font-size-lg:          0.9375rem !default;

$input-btn-border-width:          $border-width !default;

// Buttons
$btn-font-weight:                 500 !default;

// Forms
// Navs
// Navbar
$navbar-dark-color:                $gray-800;
$navbar-dark-hover-color:          $link-color;
$navbar-dark-active-color:         $link-color;
$navbar-dark-disabled-color:       rgba($gray-800, .3);
$navbar-dark-toggler-border-color: transparent;

// Dropdowns
// Pagination
$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .75rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1rem !default;

$pagination-hover-color:            $link-color !default;
$pagination-hover-bg:               #ebf7fe !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           $link-color !default;
$pagination-active-bg:              #ebf7fe !default;
$pagination-active-border-color:    $gray-300 !default;

$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;

// Cards
$card-spacer-y:                     1.5rem !default;
$card-spacer-x:                     1.5rem !default;

// Tooltips
// Popovers
// Toasts
// Badges
$badge-font-weight:                 600 !default;
$badge-padding-y:                   .25em !default;
$badge-padding-x:                   .5rem !default;
$badge-border-radius:               $border-radius-lg !default;

// Modals
// Alerts
$alert-padding-y:                   0.5rem !default;
$alert-padding-x:                   1rem !default;
$alert-link-font-weight:            600 !default;

// Progress Bars
// List Group
// Image Thumbnails
// Figures
// Breadcrumbs
$breadcrumb-font-size:              0.75rem !default;
$breadcrumb-padding-y:              $spacer / 2 !default;
$breadcrumb-padding-x:              $spacer !default;
$breadcrumb-item-padding-x:         .5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-500 !default;
$breadcrumb-divider:                quote("/") !default;

// Carousel
// Spinners
// Close
// Code
$code-color:                        $blue !default;